.overlap {
  display: grid;
  align-items: center;
}

.overlap > :where(*) {
  grid-area: 1 / 1;
}

.br-inherit {
  border-radius: inherit;
}
.br-s {
  border-radius: var(--radius-s);
}
.br-m {
  border-radius: var(--radius-m);
}
.br-l {
  border-radius: var(--radius-l);
}
.br-xl {
  border-radius: var(--radius-xl);
}
